* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.background {
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("city.jpg");
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.heading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}